
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
/* font-family: 'Bona Nova', serif; */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 73.5%;

}
body{
    text-transform: capitalize;
    width: 100%;
    height: auto;
    
}
:root{
    --heading-font: 'Raleway', sans-serif;
    --pragraph-font: 'Bona Nova', serif; 
}
.header{
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(#141e30,#243b55);
    position:relative ;
    top: -0.9rem;
}
.nav ul li{
    display: inline-block;
    float: right;
    padding: 1rem;
    list-style: none;
    margin: 0.5rem;
    padding-top: 1.3rem;
}
.nav ul li a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    word-spacing: 1rem;
    letter-spacing: 3px;
    font-family: var(--heading-font);

}
.nav ul li a:hover{
    color:crimson
}
.logo{
    display: flex;
    align-items: center;
    padding-top: 1.3rem;
    padding-left: 1rem;
}
.logo .logo-img{
  
    float: left;
    width: 3rem;
    height: 3rem;
    position: relative;
}
.logo .logo-img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    
}
.logo .logo-name{
    color: white;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: var(--heading-font);
}

/* home section  */
#home{
   
    width:100%;
    height:31.5rem;
    background-image: linear-gradient(#d3cce3,#e9e4f0);
    position: relative;
    top: -10px;
}
.img-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25rem;
    height: 25rem;
    background-image: linear-gradient(#141e30,#243b55);
    border-radius: 50% 0 0 50%;
    position: absolute;
    overflow: hidden;
    top: 3.4rem;
    float: right;
    right: 20px;
}
   
.img-div img{
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-left: 45px;
    
  
}
.home-content{
    width:50%;
    height: 100%;
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
    
}
.home-content .h-1st{
    margin: 5rem 0 0 0;
}
.home-content h1{
    font-size: 2rem;
    font-family: var(--heading-font);
    padding-top: 5px;
    color: #243b55;
}
.home-content h1 span{
    color:crimson
}
.home-content img{
    width:6rem;
    height: auto;
    float: right;
    position: relative;
    top: -9rem;
    left: -60px;
    transform: rotate(-20deg);
}
.home-content h2{
    padding-top: 2rem ;
    color: #243b55;
    font-family: var(--heading-font);
    font-weight: bold;
}
.home-content p{
    font-family: var(--pragraph-font);
    color: #141e30;
    text-align: justify;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-top: 5px;
    width: 90%;
}
.home-content button{
    background: crimson;
    border: none;
    border-radius: 5px;
    margin-top:1.3rem;
    padding: 0.9rem 1.3rem;
}
.home-content button a{
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    font-family:var(--pragraph-font); ;
    font-weight: bold;
}
.home-content button:hover{
    background:#e9e4f0 ;
    border: 3px solid crimson;
    transform: scale(.9);
}
.home-content button a:hover{
    color: crimson;
}

.home-skill .img-2 img{
    width: 4rem;
    height: auto;
    float: right;
    position: relative;
    top: 5rem;
    left: 25px;
    transform: rotate(20deg);
}
.home-skill .img-3 img{
    width: 4rem;
    height: auto;
    float: right;
    position: relative;
    top: 14rem;
    left: 25px;
    transform: rotate(45deg);
}
.home-skill .img-4 img{
    width: 5rem;
    height: auto;
    float: right;
    position: relative;
    top: 24rem;
    left: 125px;
    transform: rotate(45deg);
}
/* about section  */
#about{
    background-image: linear-gradient(#141e30,#243b55);
    width: 100%;
    height: 28rem;
    border-radius: 12rem 0 0 12rem;
    margin-top: -5px;
    
}
#about h1{
    text-align: center;
    color: crimson;
    padding: 1rem 0 0;
    font-family: var( --heading-font);
    font-size: 2rem;
}
#about hr{
    width: 4rem;
    margin: auto;
}
.about-left{
    width: 50%;
    height: auto;
    float: left;
    background-color: crimson;
}
.about-left .about-img{
    position: absolute;
    width: 31rem;
    height: 24rem;
    background-image: linear-gradient(#d3cce3,#e9e4f0);
    margin-left: 2rem;
    border-radius: 12rem 0 0 12rem;
    margin-top: -1.5rem;
}
.about-left .about-img img{
    position:relative;
    width: 70%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    right: -50px;
}
.about-right{
    width: 50%;
    height: auto;
    float: right;
}
.about-right .about-content{
    margin: 1.7rem 1rem 2rem 0;
}
.about-right .about-content h2{
    color: white;
    padding: 0.9rem 0;
    font-size: 1.5rem;
    font-family: var( --heading-font); 
}
.about-right .about-content h3{
    color:crimson;
    font-size: 1.36rem;
    font-family: var( --heading-font);
}
.about-right .about-content p{
    color: white;
    width: 70%;
    padding: 0.4rem 0;
    font-family: var(--pragraph-font);
    text-align: justify;
}
.about-right .about-content button{
    background: crimson;
    border: none;
    border-radius: 5px;
    margin-top: .5rem;
    padding: .9rem 1.4rem;
}
.about-right .about-content button a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    font-family:var(--pragraph-font); ;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--pragraph-font);
}
.about-right .about-content button:hover{
    background-image: linear-gradient(#141e30,#243b55);
    border: 3px solid crimson;
    transform: scale(.9);
}
.about-right .about-content button a:hover{
    color: crimson;
}
/* skill-section start  */

#skill{
    background-image:linear-gradient(#d3cce3,#e9e4f0);
    width: 100%;
    height: 28rem;
    position: absolute;
}
#skill h1{
   text-align: center;
    color: crimson;
    padding: 1rem 0 0;
    font-family: var( --heading-font);
    font-size: 2rem;

}
#skill hr{
    width: 4rem;
    margin: auto;
}
#skill .skill-right{
    width: 60%;
    height: 21rem;
    float: right;
}
#skill .skill-right .img-div{
    width: 20rem;
    height: 20rem;
 
    background-image: linear-gradient(#141e30,#243b55);
    border-radius: 50% 0 0 50%;
    overflow: hidden;
    top: 4.2rem;
}
#skill .skill-right .img-div img{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
}
#skill .skill-right .img-text{
    width: 60%;
    text-align: justify;
    padding: 3rem;
    margin-top: -1.5rem;
}
#skill .skill-right .img-text h3{
    font-family: var( --heading-font);
    padding: 1rem 0;
}
#skill .skill-right .img-text h2{
    font-family: var( --heading-font);
    color: #243b55;
}
#skill .skill-right .img-text p{
    font-family: var(--pragraph-font);
    font-weight: bold;
    color:#141e30 ;
}
#skill .skill-right .img-text button{
    background: crimson;
    border: none;
    border-radius: 5px;
    margin-top: .5rem;
    padding: .9rem 1.35rem;
}
#skill .skill-right .img-text button a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    font-family:var(--pragraph-font); ;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--pragraph-font);
}
#skill .skill-right .img-text button:hover{
    background-image:linear-gradient(#d3cce3,#e9e4f0);
    border: 3px solid crimson;
    transform: scale(.9);
}
#skill .skill-right .img-text button a:hover{
   color: crimson;
}
.skill-left{
    width: 40%;
    height: auto;
    margin:-1.5rem 1rem 2rem 1rem;
    position: absolute;
}
.skill-left .skill-final .skill-line{
    border-bottom:3px solid rgba(128, 128, 128, 0.212) ;
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding-top: 1.9rem;
    position: relative;
}
.skill-left .skill-final .skill-line span{
    color: #141e30; 
    font-family:var(--pragraph-font) ;
    font-size: 1.1rem;
    font-weight: bold;
}

@keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 90%;
    }
}
@keyframes width2{
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}
@keyframes width3{
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}@keyframes width4{
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
} 

.skill-final .skill-level1{
    width: 90%;
    border-bottom: 3px solid crimson;
    margin-top: -2px;
    animation-name: width;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; 
}
.skill-final .skill-level2{
    width: 80%;
    border-bottom: 3px solid crimson;
    margin-top: -2px;
     animation-name: width2;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; 
}
.skill-final .skill-level3{
    width: 70%;
    border-bottom: 3px solid crimson;
    margin-top: -2px;
    animation-name: width3;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; 
}
.skill-final .skill-level4{
    width: 60%;
    border-bottom: 3px solid crimson;
    margin-top: -2px;
     animation-name: width4;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; 
}
#project{
    width: 100%;
    height: 29rem;
    background-image: linear-gradient(#141e30,#243b55);
    position: absolute;
    top: 92rem
}
#project .head{
    text-align: center;
    color: crimson;
    padding: 1rem 0 0;
    font-family: var( --heading-font);
    font-size: 2rem;
    text-transform: uppercase;
}
#project .pra{
    text-align: center;
    color: white;
    padding: 1rem 0 ;
    font-family: var(--pragraph-font);
    font-weight: bold;
    text-transform: uppercase;

}
#project hr{
    width: 4rem;
    margin: auto;
}
.project-left{
    position: relative;
    width: 40%;
    height: auto;
    float: left;
    margin: 3rem;
    top:-1%;
    bottom: 25%;
    background-image: linear-gradient(#d3cce3,#e9e4f0);
}
.project-right{
    position: relative;
    width: 40%;
    height: auto;
    float: right;
    margin: 3rem;
    top:-1%;
    bottom: 25%;
    background-image: linear-gradient(#d3cce3,#e9e4f0);
}
.project-left .full-stack{
    padding: 1rem;
    border-left: 6px solid transparent ;
    border-image: linear-gradient(crimson,#0c1525);
    border-image-slice: 1;
}
.project-left .full-stack h1{
    font-size: 1.6rem;
    font-family: var(--heading-font);
    color: crimson;
    font-weight: bold;
    padding: 1rem 1rem 0.5rem 1rem;
}
.project-left .full-stack h3{
    font-family: var(--heading-font);
    padding: 0rem 1rem 0.2rem 1rem;
    color:#141e30 ;
}
.project-left .full-stack p{
    font-family: var(--pragraph-font);
    padding: 0 1rem 1rem 1rem;
    font-weight: bold;
    text-align: justify;
    color:#243b55;
}
.project-right .front-end{
    padding: 1rem;
    border-left: 6px solid transparent ;
    border-image: linear-gradient(crimson,#0c1525);
    border-image-slice: 1;
}
.project-right .front-end h1{
    font-size: 1.6rem;
    font-family: var(--heading-font);
    color: crimson;
    font-weight: bold;
    padding: 1rem 1rem 0.5rem 1rem;
}
.project-right .front-end h3{
    font-family: var(--heading-font);
    padding: 0rem 1rem 0.2rem 1rem;
    color:#141e30 ;
}
.project-right .front-end p{
    font-family: var(--pragraph-font);
    padding: 0 1rem 1rem 1rem;
    font-weight: bold;
    text-align: justify;
    color:#243b55 ;

}
.footer{
    width: 100%;
    height: 3rem;
    background: crimson;
    position: absolute;
    bottom:-3rem
    
    
}

.footer p{
    text-align: center;
    font-family: var(--pragraph-font);
    font-weight: bold;
    padding-top: 11px;
    color: white;
}
@media(max-width:950px) {
    html{
        font-size: 50%;
    
    }
}
@media(max-width:672px) {
    html{
        font-size: 40%;
    
    }
}
@media(max-width:548px) {
    html{
        font-size: 30%;
    
    }
}
@media(max-width:502px) {
    html{
        font-size: 20%;
    
    }
}
@media(max-width:410px) {
    html{
        font-size: 10%;
    
    }
}
