
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
/* font-family: 'Bona Nova', serif; */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-transform: capitalize;
    position: absolute;

}
:root{
    --heading-font: 'Raleway', sans-serif;
    --pragraph-font: 'Bona Nova', serif; 
}
.header{
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(#141e30,#243b55);
    position:relative ;
    top: -11px;
}
.nav ul li{
    display: inline-block;
    float: right;
    padding: 1rem;
    list-style: none;
    margin: 0.5rem;
    padding-top: 1.3rem;
}
.nav ul li a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    word-spacing: 1rem;
    letter-spacing: 3px;
    font-family: var(--heading-font);

}
.nav ul li a:hover{
    color:crimson
}
.logo{
    display: flex;
    align-items: center;
    padding-top: 1.3rem;
    padding-left: 1rem;
}
.logo .logo-img{
  
    float: left;
    width: 3rem;
    height: 3rem;
    position: relative;
}
.logo .logo-img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    
}
.logo .logo-name{
    color: white;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: var(--heading-font);
}

/* home section  */
#home{
   
    width:100%;
    height: 80vh;
    background-image: linear-gradient(#d3cce3,#e9e4f0);
    position: relative;
    top: -10px;
}
.img-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25rem;
    height: 25rem;
    background-image: linear-gradient(#141e30,#243b55);
    border-radius: 50% 0 0 50%;
    position: absolute;
    overflow: hidden;
    top:60px;
    float: right;
    right: 20px;
}
   
.img-div img{
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-left: 45px;
    
  
}
.home-content{
    width:50%;
    height: 100%;
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
    
}
.home-content .h-1st{
    margin: 5rem 0 0 0;
}
.home-content h1{
    font-size: 2rem;
    font-family: var(--heading-font);
    padding-top: 5px;
    color: #243b55;
}
.home-content h1 span{
    color:crimson
}
.home-content img{
    width:6rem;
    height: auto;
    float: right;
    position: relative;
    top: -9rem;
    left: -60px;
    transform: rotate(-20deg);
}
.home-content h2{
    padding-top: 2rem ;
    color: #243b55;
    font-family: var(--heading-font);
    font-weight: bold;
}
.home-content p{
    font-family: var(--pragraph-font);
    color: #141e30;
    text-align: justify;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-top: 5px;
    width: 90%;
}
.home-content button{
    background: crimson;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 13px 20px;
}
.home-content button a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family:var(--pragraph-font); ;
    font-weight: bold;
}
.home-content button:hover{
    background:#e9e4f0 ;
    border: 3px solid crimson;
    transform: scale(.9);
}
.home-content button a:hover{
    color: crimson;
}
.home-skill{
   
}
.home-skill .img-2 img{
    width: 4rem;
    height: auto;
    float: right;
    position: relative;
    top: 5rem;
    left: 25px;
    transform: rotate(20deg);
}
.home-skill .img-3 img{
    width: 4rem;
    height: auto;
    float: right;
    position: relative;
    top: 14rem;
    left: 25px;
    transform: rotate(45deg);
}
.home-skill .img-4 img{
    width: 5rem;
    height: auto;
    float: right;
    position: relative;
    top: 24rem;
    left: 125px;
    transform: rotate(45deg);
}
/* about section  */
#about{
    background-image: linear-gradient(#141e30,#243b55);
    width: 100%;
    height: 24rem;
    border-radius: 12rem 0 0 12rem;
    margin-top: -7px;
}
#about h1{
    text-align: center;
    color: crimson;
    padding: 1rem 0 0;
    font-family: var( --heading-font);
    font-size: 30px;
}
#about hr{
    width: 4rem;
    margin: auto;
}
.about-left{
    width: 50%;
    height: auto;
    float: left;
    background-color: crimson;
}
.about-left .about-img{
    position: absolute;
    width: 30rem;
    height: 21rem;
    background-image: linear-gradient(#d3cce3,#e9e4f0);
    margin-left: 2rem;
    border-radius: 12rem 0 0 12rem;
    margin-top: -27px;
}
.about-left .about-img img{
    position:relative;
    width: 70%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    right: -50px;
}
.about-right{
    width: 50%;
    height: auto;
    float: right;
}
.about-right .about-content{
    margin: 1.7rem 1rem 2rem 0;
}
.about-right .about-content h2{
    color: white;
    padding: 13px 0;
    font-size: 25px;
    font-family: var( --heading-font); 
}
.about-right .about-content h3{
    color:crimson;
    font-size: 20px;
    font-family: var( --heading-font);
}
.about-right .about-content p{
    color: white;
    width: 70%;
    padding: 6px 0;
    font-family: var(--pragraph-font);
    text-align: justify;
}
.about-right .about-content button{
    background: crimson;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    padding: 10px 20px;
}
.about-right .about-content button a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family:var(--pragraph-font); ;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--pragraph-font);
}
.about-right .about-content button:hover{
    background-image: linear-gradient(#141e30,#243b55);
    border: 3px solid crimson;
    transform: scale(.9);
}
.about-right .about-content button a:hover{
    color: crimson;
}
